* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
}

.form a {
  text-decoration: none;
  color: rgb(166, 166, 192);
  font-style: italic;
  transition: all 0.3s ease-in-out;
}

.form a:hover {
  color: blue;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/public/dc.jpeg") no-repeat;
  background-size: cover;
  background-position: right;
}

.form-box {
  width: 600px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 25px 40px;
  margin: 20px;
}

.form-box h1 {
  font-size: 36px;
  text-align: center;
}

.form-box .input-box {
  width: 100%;
  margin-top: 5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
  padding: 12px;
  margin: 7px 0;
}

.input-box input::placeholder {
  color: #fff;
}

.form-box button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #333;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.form-box button:hover {
  background-color: #5d8096;
  color: #fff;
}

.form-box p {
  margin-bottom: 8px;
  text-align: center;
}

.radio-box {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  flex-wrap: wrap;
}

.radio-box label {
  margin: 4px;
}

.error {
  color: red;
  text-align: start !important;
}

.input-error {
  border: 4px solid red;
}

.last-para {
  margin-top: 8px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 24);
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  border-bottom-color: red;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* header */
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.header-left h1 {
  font-size: 24px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-name {
  margin-right: 20px;
}

.header-right span {
  margin-right: 2px;
  font-size: 18px;
}

.header-right span:nth-child(2) {
  color: plum;
  font-weight: bolder;
}

.logout-button {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #5d0707;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #fff;
  color: #5d0707;
}

.badge {
  background-color: #c803fa65;
  color: white;
  padding: 3px 6px;
  border-radius: 5px;
  position: relative;
  top: -10px;
  right: -5px;
  font-size: 15px !important;
  font-weight: bold;
}