* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
  /* overflow: hidden; */
}
.form a {
  text-decoration: none;
  color: rgb(166, 166, 192);
  font-style: italic;
  transition: all 0.3s ease-in-out;
}
.form a:hover {
  color: blue;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/public/dc.jpeg") no-repeat;
  background-size: cover;
  background-position: right;
}
.form-box {
  width: 600px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 25px 40px;
  margin: 20px;
}
.form-box h1 {
  font-size: 36px;
  text-align: center;
}
.form-box .input-box {
  width: 100%;
  margin-top: 5px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(14, 12, 12, 0.2); 
  border-radius: 8px;
  font-size: 14px;
  color: #010101;
  padding: 12px;
  margin: 7px 0;
}
.input-box input::placeholder {
  color: #f5f2f2;
}
.form-box button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #333;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.form-box button:hover {
  background-color: #5d8096;
  color: #fff;
}

.form-box p {
  margin-bottom: 8px;
  text-align: center;
}
.radio-box {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  flex-wrap: wrap;
}
.radio-box label {
  margin: 4px;
}

.error {
  color: red;
  text-align: start !important;
}
.input-error {
  border: 4px solid red;
}

.last-para {
  margin-top: 8px;
}


/* tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar{
  background-color: black !important;
  color: #fff !important;
}

.nav-link, .navbar-brand{
  background-color: black !important;
  color: #fff;
}